@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/bg-top.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với NEW-RESORT</h3>

            <p>
                Nằm tại Thành phố Hồ Chí Minh, Scenic Valley Phu My Hung 7 Dist. có nhà hàng, dịch vụ phòng, quầy bar, vườn, hồ bơi ngoài trời, sân chơi cho trẻ em và tầm nhìn ra sông.

                Các căn gắn máy điều hòa tại đây có sàn gỗ parquet, phòng tắm riêng, TV màn hình phẳng, WiFi miễn phí, bàn làm việc, phòng khách, bếp đầy đủ vật dụng, sân trong và tầm nhìn ra hồ nước. Tất cả căn hộ đều được bố trí khu vực ghế ngồi và khu vực ăn uống.

                Căn hộ phục vụ bữa sáng tự chọn và kiểu Mỹ hàng ngày.

                Scenic Valley Phu My Hung 7 Dist. còn có sân hiên.

                Khách nghỉ tại đây có thể sử dụng công viên nước và CLB trẻ em.
                <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7840.192248888312!2d106.71771187114012!3d10.727069069420066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f88b4b047c5%3A0xe3752bba8c93a547!2sScenic%20valley!5e0!3m2!1svi!2s!4v1620733420837!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></center>
                Không chỉ làm hài lòng Quý khách bởi hệ thống phòng nghỉ sang trọng cùng các trang thiết bị hiện đại, Resort còn cung cấp các dịch vụ phong phú và tiện nghi như: Nhà hàng, Phòng họp, dịch vụ cho thuê Văn phòng, sân Tennis, Sauna & Massage, trung tâm Thể hình, Sòng bạc và các dịch vụ giải trí.

                Tại đây, Quý khách được thưởng thức các món ẩm thực tinh tế mang đậm phong cách truyền thống và được đảm nhiệm bởi các đầu bếp chuyên nghiệp, tài hoa cùng với phong cách phục vụ chuyên nghiệp, nhiệt tình và thân thiện của đội ngũ nhân viên giàu kinh nghiệm. Tất cả đã góp phần làm nổi danh một thương hiệu H&K.

            </p>
        </div>
    </div>
</div>

